article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Page Styles */

html {
    font-size: 125%;
    color: white;
    line-height: 29px;
}

h1,
h2,
h3 {
    font-family: 'Petit Formal Script', cursive;
    margin: 0;
    padding: 25px;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;

}

a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

img {
    width: 100%;
}

/* Header Style */

header {
    background-color: #815600;
    position: relative;
}

h1 {
    font-size: 3.6rem;
    color: white;
    width: 90%;
    text-align: right;
    line-height: 94.3px;
}

.hamburger {
    position: absolute;
    top: -1000px;
    font-size: 2.5rem;
}

header nav li {
    float: left;
    width: 100px;
    text-align: center;
}

.title {
    width: 50%;
    float: left;
    padding-top: 180px;
}

.titleitem {
    float: right;
    width: 50%;
}

.socialicons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.socialicons li {
    float: right;
    width: 100%;
    line-height: 1.8rem;
}

/*About Styles*/

.about {
    background-color: #500801;
}

.about .wrapper {
    padding: 50px 0;
}

.about h2 {
    padding-left: 0;
    padding-bottom: 0;
}

.squarephoto {
    float: left;
    width: 300px;
    height: 300px;
    padding: 25px;
}

.squarephoto img {
    width: 100%;
    height: 100%;
}

.abouttext {
    float: left;
    width: 65%;
}

.about a {
    background-color: rgba(0,0,0,0.5);
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.25rem;
    padding: 10px 20px;
}

/* Gallery Styles*/

.gallery {
    background-color: #815600;
}

.gallery h2 {
    text-align: center;
    padding-top: 50px;
}

.gallery li {
    width: 30%;
    float: left;
    margin: 1%;
    padding-bottom: 50px;
}

/*Icons Styles*/

.icons {
    background-color: #500801;
}

.catalogue,
.events,
.collaborations {
    text-align: center;
    width: 25%;
    font-size: 1.45rem;
    font-family: 'Petit Formal Script', cursive;
    float: left;     
    margin: 2%;
    padding: 50px;
} 

p {
    margin: 0;
    padding: 20px 0;
}

/*Blog Styles*/

.blog {
    background-color: #815600;
}

.blog h2 {
    padding-left: 0;
}

.blog a {
    background-color: rgba(0,0,0,0.5);
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.25rem;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
}

.blogtext1 {
    width: 50%;
    float: left;
    padding: 100px 75px 100px 75px;
}

.blogphoto1 {
    width: 50%;
    float: right;
}

.blogtext2 {
    width: 50%;
    float: left;
    padding: 100px 75px 100px 75px;
}

.blogphoto2 {
    width: 50%;
    float: left;
}

/*Contact Styles*/

.contact {
    background-color: #500801;
}

.contact nav,
.contactinfo {
    float: left;
    width: 20%;
    padding-top: 50px;
}

.newsletter {
    float: left;
    width: 60%;
    padding-top: 50px;
    text-align: center;
}

.contactinfo {
    text-align: right;
}

.contactinfo p {
    padding: 0;
}

::-moz-placeholder {
    color: white;
    text-align: center;
}

[value="subscribe"] {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.25rem;
    padding: 10px 20px;
    border: none;
}

[type="email"] {
    padding: 10px 20px;
}

/*footer styles*/

footer {
background-color: black;
text-align: center;
}

@media (max-width: 1465px) {
    .blogtext1 {
    padding: 20px 10px 10px 10px;
    }
    .blogtext2 {
    padding: 20px 10px 10px 10px;
    }
}

@media (max-width: 1250px) {
    .blogtext1 {
    padding: 20px 10px 10px 10px;
    }
    .blogtext2 {
    padding: 20px 10px 10px 10px;
    }
}

@media (max-width: 1040px) {
    .blogtext1 {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .blogtext2 {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .blogphoto1 {
        float: none;
        width: 100%;
    }

    .blogphoto2 {
        float: none;
        width: 100%;
    }

    .blog p {
        text-align: left;
    }
}

@media (max-width: 900px) {

/*Header Styles*/

    header nav {
        visibility: hidden;
    }

    .hamburger {
        top: 10px;
        right: 20px;
    }

    .title {
        float: right;
        padding-top: 10px;
        width: 460px;
    }

    h1 {
        width: 100%;
        font-size: 3.0rem;
    }

    .titleitem {
        float: none;
        width: 60VH;
    }

    .socialicons {
        top: -1000px;
    }

/*About Styles*/

    .squarephoto {
        width: 60VH;
    }

    .about .wrapper {
        width: 100%;
        margin-left: 20%;
        text-align: center;
        padding-bottom: 30px;
        display: inline-block;
    }

/* Contact Styles */
    .contact nav li {
        float: left;
        margin: 2% 4%;
        padding-top: 20px;
    }

    .contact ul {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 40px;
        width: 360px;
        display: inline-block;
    }

    .contact h3,
    .contact h2 {
        padding-bottom: 0;
        padding-top: 0;
    }

    .contact nav,
    .contactinfo {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .newsletter {
        width: 100%;
        padding-top: 20px;
    }

    [value="subscribe"] {
        margin: 15px 0;
    }

    ::-moz-placeholder {
        color: darkslategray;
    }
}

@media (max-width: 700px) {
    .titleitem {
        transform: translate(-100px);
    }

    /*About Styles*/

    .about .wrapper {
        margin: 5%;
    }

    .squarephoto {
        transform: translate(-50px)
    }

    /*Gallery Styles*/

    .midimg {
        position: absolute;
        top: -1000px;
    }

    .gallery li {
        width: 48%;
    }

    .catalogue,
    .events,
    .collaborations {
        text-align: center;
        width: 85%;
        font-size: 1.45rem;
        float: none;     
        margin: 1%;
        padding: 10px;
        display: inline-block;
    }    
}



